@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue Sur APIMARV</h1>
    <p>Ici vous pouvez visualiser votre avancée sur tous les films Marvel
    .Vous pouvez également recevoir des suggestions sur les films que vous préferez ! 
    </p>
</div>
